<!DOCTYPE html>
<html lang="en">
  <% include ./layout/head %>
<body>
    <% include ./layout/navbar %>
      <div class="container">
        <div class="row premium-section mt-5">
          <div class="col col-prem own-col">
            <div class="row">
            <div class="col col-ic">
                <i class="fas fa-crown"></i>
            </div>
            <div class="col">
                <h5>Bots Owned</h5>
                <span class="num-count">14</span>
             </div>
           </div>
          </div>
          <div class="col col-prem exp-col">
            <div class="row">
                <div class="col col-ic">
                    <i class="fas fa-hourglass-end"></i>
                </div>
                <div class="col">
                    <h5>Bots Expired</h5>
                    <span class="num-count">3</span>
                 </div>
               </div>
          </div>
          <div class="col col-prem" id="creditsbtn">
            <div class="row">
                <div class="col col-ic">
                  <i class="fas fa-money-bill-wave"></i>
                </div>
                <div class="col">
                    <h5>Your Credits</h5>
                    <span class="num-count">64$ USD</span>
                 </div>
               </div>
          </div>
        </div>
      <div class="card mt-5 border-0">
        <div class="card-head">
          <h4>
            <span style="position: relative; top: 8px;">Bots Owned</span> 
            <button type="button" class="btn btn-outline float-end btn-add"><i class="fas fa-shopping-cart"></i>&nbsp;&nbsp; Add Bot</button>
          </h4>
        </div>
        <div class="card-body">
          <div class="main-bot-sec">
            <img style="display: inline-block;" class="rounded-circle bot-img" src="https://cdn.discordapp.com/attachments/839112229705220096/839450302172364800/ezgif-2-bea8749ef086.png" width="66px" height="66px">
             <div class="typorgraphy-prem" style="display: inline-block;">
                <h4>
                 <span class="bot-name">ServerBot<span class="bot-tag">#4433</span></span> 
                 <p class="exp-time">Ends on 27 days</p>
                 </h4>
             </div>
             <button type="button" class="btn btn-outline float-end btn-invite-prem"><i class="fas fa-plus"></i>&nbsp;&nbsp; Invite Bot</button>
            </div>
            <div class="main-bot-sec">
                <img style="display: inline-block;" class="rounded-circle bot-img" src="https://cdn.discordapp.com/attachments/839112229705220096/839450302172364800/ezgif-2-bea8749ef086.png" width="66px" height="66px">
                 <div class="typorgraphy-prem" style="display: inline-block;">
                    <h4>
                     <span class="bot-name">ServerBot<span class="bot-tag">#4433</span></span> 
                     <p class="exp-time">Ends on 27 days</p>
                     </h4>
                 </div>
                 <button type="button" class="btn btn-outline float-end btn-invite-prem"><i class="fas fa-plus"></i>&nbsp;&nbsp; Invite Bot</button>
                </div>
                <div class="main-bot-sec">
                    <img style="display: inline-block;" class="rounded-circle bot-img" src="https://cdn.discordapp.com/attachments/839112229705220096/839450302172364800/ezgif-2-bea8749ef086.png" width="66px" height="66px">
                     <div class="typorgraphy-prem" style="display: inline-block;">
                        <h4>
                         <span class="bot-name">ServerBot<span class="bot-tag">#4433</span></span> 
                         <p class="exp-time">Ends on 27 days</p>
                         </h4>
                     </div>
                     <button type="button" class="btn btn-outline float-end btn-invite-prem"><i class="fas fa-plus"></i>&nbsp;&nbsp; Invite Bot</button>
                    </div>
        </div>
      </div>
      <!--Exp/Renew Sec-->
      <div class="card mt-5 border-0">
        <div class="card-head">
          <h4>
            <span style="position: relative; top: 8px;">Bots Expired</span> 
            <button type="button" class="btn btn-outline float-end btn-add"><i class="fas fa-retweet"></i>&nbsp;&nbsp; Renew All</button>
          </h4>
        </div>
        <div class="card-body">
          <div class="main-bot-sec">
            <img style="display: inline-block;" class="rounded-circle bot-img" src="https://cdn.discordapp.com/attachments/839112229705220096/839450302172364800/ezgif-2-bea8749ef086.png" width="66px" height="66px">
             <div class="typorgraphy-prem" style="display: inline-block;">
                <h4>
                 <span class="bot-name">ServerBot<span class="bot-tag">#4433</span></span> 
                 <p class="exp-time">Expired since 12 days</p>
                 </h4>
             </div>
             <button type="button" class="btn btn-outline float-end btn-invite-prem"><i class="far fa-clock"></i>&nbsp;&nbsp; Renew Bot</button>
            </div>
            <div class="main-bot-sec">
                <img style="display: inline-block;" class="rounded-circle bot-img" src="https://cdn.discordapp.com/attachments/839112229705220096/839450302172364800/ezgif-2-bea8749ef086.png" width="66px" height="66px">
                 <div class="typorgraphy-prem" style="display: inline-block;">
                    <h4>
                     <span class="bot-name">ServerBot<span class="bot-tag">#4433</span></span> 
                     <p class="exp-time">Expired since 7 days</p>
                     </h4>
                 </div>
                 <button type="button" class="btn btn-outline float-end btn-invite-prem"><i class="far fa-clock"></i>&nbsp;&nbsp; Renew Bot</button>
                </div>
                <div class="main-bot-sec">
                    <img style="display: inline-block;" class="rounded-circle bot-img" src="https://cdn.discordapp.com/attachments/839112229705220096/839450302172364800/ezgif-2-bea8749ef086.png" width="66px" height="66px">
                     <div class="typorgraphy-prem" style="display: inline-block;">
                        <h4>
                         <span class="bot-name">ServerBot<span class="bot-tag">#4433</span></span> 
                         <p class="exp-time">Expired since 7days</p>
                         </h4>
                     </div>
                     <button type="button" class="btn btn-outline float-end btn-invite-prem"><i class="far fa-clock"></i>&nbsp;&nbsp; Renew Bot</button>
                    </div>
        </div>
      </div>
   </div>
   <div id="overlay">
     <div class="card credits-charge">
      <div class="card-head">
        <h4>
          <span class="chose-am-t">Choose Amount <span style="font-size: 17px; color: #bbbbbb;">(Will be added to your balance)</span></span> 
          <button class="btn btn-close-overlay float-end" id="overlay-close"><span class="leave-overlay"><i class="fas fa-times"></i></span></button>
        </h4>
      </div>
      <div class="card-body">
          <button class="btn btn-mount text-light">3$</button>
          <button class="btn btn-mount text-light">5$</button>
          <button class="btn btn-mount text-light">8$</button>
          <button class="btn btn-mount text-light">10$</button>
          <button class="btn btn-mount text-light">15$</button>
          <button class="btn btn-mount text-light">20$</button>
          <button class="btn btn-mount text-light">25$</button>
          <button class="btn btn-mount text-light">30$</button>
      </div>
     </div>
   </div>

   <% include ./layout/footer %>
  </div>
</body>
<% include ./layout/script %>
</html>